* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.color-green {
    color: #30B868;
}

.btn-styles {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Hero Section Styles */
.hero-section {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    line-height: 24px;
}

.hero-text {
    max-width: 700px;
    color: #ffffff;

}

.badge, .badge a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #30B868;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin: 3px;
}

.badge-icon img{
    width: 20px;
    height: 20px;
    margin: 15px;
}

.hero-heading {
    padding: 50px 0 20px 0;
    font-size: 65px;
    line-height: 1.2;
    color: #ffffff;
}

.hero-paragraph {
    margin: 20px;
    font-size: 17px;
    line-height: 2em;
    font-weight: 300;
}

/* Hero Button Styles */

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0 0 0;
}

.hero-btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    padding: 7px 14px;
    border-radius: 4px;
}

.hero-btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
}

.hero-btn-2 a, .hero-btn-1 a {
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
}

/* Main Cards Section Styles */
.cards-container {
    text-align: center;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 60px 60px 0px 60px;
}

.cards-container h3, .main-part-content h3 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0px auto 16px auto;
}

.cards-container p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.card-png {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.card h5 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding: 24px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 44px auto;
    gap: 24px;
    width: 85%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    background-color: white;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.06);
    padding: 24px;
}

.card p {
    width: 274px;
    height: 40px;
}